SamplePrograms/.vs/
asp/.vs/
Project2/.vs/
DatabaseConnectionPrograms/.vs/
TrainingApp/.vs/
ExampleAPI/.vs/
APIPractice/.vs/
MVCExampleProject/.vs/
BranchTaskAPI/.vs/
BranchTaskMVC/.vs/
MVCExampleWithOracle/.vs/